.App {
  text-align: center;
  background-color: #ffffff;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #dddddd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.App-link {
  color: #311054;
}

.app-container {
  background-color: #ffffff;
}

.subpage {
  margin: 0% 0% 0%;
  padding: 0% 0% 0%;
  background-color: #343a40;
}

.subpage-2 {
  margin: 0% 0% 0%;
  padding: 0% 0% 0%;
  background-color: #4e5358;
}

.signUpButton-container {
  background-color: #343a40;
  padding: 3.6% 0% 1%;
  margin: 1% 40% 1%;
  border-radius: 8px;
}


.top-row {
  margin-right: 0px;
  margin-left: 0px;
}

h1, div {
  font-family: "Montserrat", serif;
}