.App {
  text-align: center;
  background-color: #ffffff;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #dddddd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.App-link {
  color: #311054;
}

.app-container {
  background-color: #ffffff;
}

.subpage {
  margin: 0% 0% 0%;
  padding: 0% 0% 3%;
}

.subpage1-row {
  background-color: #ffffff;
}

.subpage2-row {
  background-color: #ee7777;
}

.subpage3-row {
  background-color: #eeaaaa;
}

.signUpButton-container {
  background-color: #ffffff;
  padding: 1% 0% 1%;
  margin: 1% 40% 1%;
  border-radius: 3px;

}

.signUp-btn {
  background-color: #ffffff;
  color: #000000;
  border-radius: 3px;
  margin-bottom: 4px;
  padding: 10% 2% 10%;
  border: 0px;
  text-align: center;
}

.signUp-btn-group {
  margin: 8% 4% 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-row {
  margin-right: 0px;
  margin-left: 0px;
}