:root{
  --color1: #51c4c2;
  --color1light: #bff1f0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.schedule{
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}


.schedule table, th, td{
  text-align: center;
  border: 1px solid #bff1f0;
}

.schedule tr:nth-child(even){
  background-color: white;
  min-height: 50px;
}

.schedule tr:nth-child(odd){
  background-color: var(--color1light);
}

.schedule tr td:not(:first-child):not(:last-child){
  border-left: 3px solid var(--color1);
  border-right: 3px solid var(--color1);
}

.schedule tr td{
  width: 15%;
}

.schedule tr:not(:first-child){
  height: 50px;
  max-height: fit-content;
}

.schedule tr td:first-child, tr:first-child{
  min-width: 125px;
  font-weight: bold;
}
